@model LoginAutenticacion.Web.Models.UsuarioModel;

@{
    Layout = "_InicioLayout";
    ViewBag.Title = "Inicio de Sesión";
}

<div class="container" id="container">
    <div class="form-container sign-up">
            <form asp-action="RegistrarUsuario" method="post">
                <h1>Register</h1>
                <input asp-for="Nombre" type="text" placeholder="Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
                <input asp-for="Mail" type="email" placeholder="Email" />
                <span asp-validation-for="Mail" class="text-danger"></span>
                <input asp-for="Username" type="text" placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
                <input asp-for="Password" type="password" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <button type="submit">Register</button>
            </form>
        
    </div>
    <div class="form-container sign-in">
        <form asp-action="Autenticar" method="post">
            <h1>Sing In</h1>
            <input asp-for="Username" type="text" placeholder="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
            <input asp-for="Password" type="password" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <a href="#">Forget Your Password?</a>
            <button>Sign In</button>
            <div class="social-icons">
                <a target="_blank" class="icon"  href="@ViewBag.response"><img src="~/icon/google.png" />Sign In with google</a>
            </div>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login">Sing In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}